body {
    border: solid black 2px;
    width: 1500px;
    height: 855px;
}
.contenedor {
    background-color: darkblue;
    width: 1500px;
    height: 450px;
    display: flex;
    justify-content: space-between;
}
.contenedor2 {
    background-color: darkblue;
    width: 1500px;
    height: 405px;
    display: flex;
    justify-content: space-between;
}
.padre {
    background-color: white;
    width: 450px;
    height: 400px;
}
.madre {
    background-color: white;
    width: 450px;
    height: 400px;
}
.hija {
    background-color: white;
    width: 900px;
    height: 400px;
    display: flex;
    justify-content: center;
}
.rojo {
    background-color: red;
    width: 90%;
    height: 90%;
}
.rojo1 {
    background-color: red;
    width: 400px;
    margin-top: 35px;
    height: 90%;
}
.nieto {
    background-color: red;
    width: 1600px;
    margin-bottom: 35px;
    margin-left: 50px;
    height: 90%;
}
.nieto1 {
    background-color: red;
    width: 1600px;
    margin-top: 35px;
    margin-left: 50px;
    height: 91%;
}